@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.bi-brightness-high-fill {
  font-size: 2rem;
}
.bi-brightness-high-fill:hover {
  color: rgba(49, 45, 45, 0.856);
}
.bright {
  color: black;
  background-color: rgba(247, 243, 238, 0.664);
}
.dark {
  color: white;
  background-color: black;
}
#main {
  height: auto;
}

#new_task_input {
  min-width: 100%;
  border-radius: 5px;
}
.row * {
  padding-left: 0;
}
.new-todo {
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
}
#string {
  margin: auto 0;
}
#delete {
  background-color: transparent;
  color: red;
}
#add {
  border-radius: 5px;
}
.green1 {
  background-color: green;
}
