* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  border: 2px solid red;
}

.main {
  height: 100vh;
  border: 2px solid red;
  margin: 1rem;
}
#top-container {
  height: 15%;
}
#main-container {
  height: 65%;
}
#bottom-container {
  height: 20%;
}

.row-middle {
}

.col-checkbox {
  display: flex;
  justify-content: center;
}

.col-empty {
  display: flex;
  justify-content:flex-start;
  
}

.col-delete {
  display: flex;
  justify-content: center;
}

input[type=checkbox] {
  transform: scale(2);
}

.col-checkbox {
  display: flex;
  align-items: center;
}

.wrapper {
  border: 0.5px solid black;
  border-radius: 5px;
}