@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.main {
  height: 100vh;
}
.main h2 {
}
.bi-brightness-high-fill {
}
.bi-brightness-high-fill:hover {
  color: rgba(0, 0, 0, 0.603);
  cursor: pointer;
}
#main-container {
  height: 65%;
}

.col-2 {
}

#new_task_input {
  min-width: 90%;
}
.row * {
  padding-left: 0;
}
#submit-input {
}

.row-middle {
}

.col-checkbox {
}

.col-empty {
}

.col-delete {
}

/* input[type="checkbox"] {
  transform: scale(2);
} */

.col-checkbox {
}

.wrapper {
}
div {
  border: 2px solid blueviolet;
}
